<!DOCTYPE html>
<html lang="en">
    <head>
        
        <title>My Video Game Blog </title>
        <link rel="stylesheet" href="main.css">
        <style>
  body { 
    background-color:lightcoral
  }

  
  h1,h2,h3,h4 {
    color: white;
    text-align: center;
  
  }
  .center{
    text-align: center;
           color: lightblue
  }
  #para1{
    color: limegreen;
    
  }
  #para2{
    color:darkblue;
  }
  #para3{
    color: darkblue;
  }
  #para4{
    color: darkblue;
  }
  #para5{
    color: darkblue;
  }
  div ul{
    color:black;
  }
  p {font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    font-color: black;
  }
  #GameList{
    background-image: url("xbox.png");
    width: 320px;
  padding: 10px;
  border: 15px solid gray;
  margin: 0; 
  }
  #img1{
    float:left
  }
  #img2{
    float: right
  }
  #img3{
    float: left;
  }
  #img4{
    float: right;
  }
  #img5{
    float: left;
  }
  #img6{
    float: left;
  }
  #img7{
    float: right;
  }
  #img8{
    float: right;
  }
  h1 {
    text-decoration: underline;
  }
  h2 {
    text-decoration: underline;
  }
  h3 {
    text-decoration: underline;
  }
  h4 {
    text-decoration: underline;
  }
  /* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

  
  
  
        </style>
</head>
<body>

</body>
</html>
